

.navbar-container {
   background-color: #042558;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  z-index: 10;
}

.logo {
  width: 200px;
  height: 70.81px;
  margin-top: 10px;
  margin-left: 137px;
  box-sizing: border-box
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 24px;
  margin-left: 280px;
  margin-top: 40px;
  padding: 0;
  width: 482px;
  height: 36px;

}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
    position: relative;
  z-index: 2;
}
.nav-links li a:hover {
  color: #c2e8ff; 
  border-bottom: 2px solid #c2e8ff;
}
.join-btn {
  margin-left: auto;
  margin-right: 100px;
  width: 139px;
  height: 40px;
  padding: 8px 20px;
  background: rgba(194, 232, 255, 1);
  color: rgba(4, 37, 88, 1);
  font-weight: 600;
  border: 1px solid rgba(4, 37, 88, 1);
  border-radius: 10px;
  cursor: pointer;
  top: 68px;
  left: 1135px;
}

.join-btn:hover {
  background: rgba(174, 220, 255, 1);
}
