

.hero-text {
  position: absolute;
  top: 270px;
  left: 133px;
  width: 1139px;
  color: white;
  z-index: 2;
  box-sizing: border-box;
  gap: 80px;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 1.3;
  margin: 0;
}

.hero-text p {
  width: 450px;
  height: 161;
  top: 509px;
  left: 137px;
  font-size: 18px;
  line-height: 1.5;
  color: #cce3f8;
}

.hero-buttons {
  margin-top: 32px;
  display: flex;
  gap: 16px;
}

.btn-demo,
.btn-learn {
  padding: 10px 24px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid rgba(4, 37, 88, 1);
  transition: background 0.3s ease;
  box-sizing: border-box;
}

.btn-demo {
  background-color: rgba(194, 232, 255, 1);
  color: rgba(4, 37, 88, 1);
}

.btn-demo:hover {
  background-color: rgba(174, 220, 255, 1);
}

.btn-learn {
  background-color: white;
  color: rgba(4, 37, 88, 1);
}

.btn-learn:hover {
  background-color: #f0f0f0;
}

.hero-ship {
  position: absolute;
  width: 1021px;
  height: 1021;
  top: 103px;
  left: 672px;
  transform: scaleX(-1);
  z-index: 1;
}
