.testimonial-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1168px;
  height: 553.6px;
  top: 800px;
  left: 145px;
  z-index: 1;
  position: relative;
}

.testimonial-image img {
  width: 500px;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.testimonial-text {
  max-width: 569px;
}

.testimonial-text h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px; 
  line-height: 120%;
  color: rgba(4, 37, 88, 1);
  margin-bottom: 32px;
  margin-top: 0;
  height: 96px;
}

.testimonial-text p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px; 
  line-height: 150%;
  color: rgba(83, 129, 178, 1);
  height: 81px;
  top: 100.7px;
}
