
.features-section {
  width: 100%;
  max-width: 1171px;
  margin: 0 auto;
  padding: 60px 0 40px 0; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-heading-wrapper {
  width: 100%;
  max-width: 768px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 0px;        
  margin-bottom: 4px;      
  gap: 0px;                 
}

.features-tag {
  width: 63px;
  height: 24px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: rgba(4, 37, 88, 1);
}

.features-title {
  width: 768px;
  height: 116px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 40px; 
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(4, 37, 88, 1);
}


.features-cards-wrapper {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-bottom: 20px;
}


.feature-card {
  width: 369px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.feature-image {
  width: 369px;
  height: 233px;
  object-fit: cover;
}


.feature-content {
  width: 305px;
  gap: 2px;
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  background: white;
}


.feature-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;
   background: none;
  color:rgba(4, 37, 88, 1) ;
  padding: 8px 8px 4px 8px;
}


.feature-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px; 
  line-height: 150%;
  background: none;
  color:rgba(4, 37, 88, 1) ;
  padding: 8px 8px 4px 8px;
}


.card-learn-more {
  gap: 6px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background: none;
  border: none;
  color: rgba(4, 37, 88, 1);
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding: 8px 8px 16px 8px;
}

.card-learn-more .chevron {
  width: 20px;
  height: 20px;
}


.expand-all-button-wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
}

.expand-all-button {
  width: 177px;
  height: 48px;
  padding: 12px 24px;
  border-radius: 10px; 
  border: 1px solid black; 
  background: white;
  color: rgba(4, 37, 88, 1); 
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px; 
  cursor: pointer;
}

.card-learn-more .chevron {
  width: 24px;
  height: 24px;
}

